.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.da-members-form-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
}

.da-members-form-cotainer form {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
}

.da-members-form-cotainer form label:not(.first) {
  margin-top: 16px;
}

.da-members-form-cotainer form label {}

.da-members-form-cotainer form input {
  padding: 10px;
  border: 1px solid #ddd;
  margin-top: 4px;
}

.da-members-form-cotainer form input:focus {
  border: 1px solid #ddd;
  outline: 1px solid rgb(0, 0, 0);
}

.da-members-form-cotainer form button[type=submit] {
  background-color: rgb(0, 0, 0);
  color: #fff;
  margin-top: 20px;
  padding: 14px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

/* 
POPUPS
*/
.popup_container {
  display: none;
  text-align: left;
  max-width: fit-content;
  position: absolute;
  background-color: #fff;
  padding: 16px;
  right: 50%;
  top: 20%;
  transform: translateX(50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.popup_container .del_popup {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popup_container .del_popup span {
  font-size: 14px;
}

.del_popup .del_popup_actions {
  align-self: flex-end;
  display: flex;
  gap: 16px;
}

.del_popup_actions button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 2px;
}

.del_popup_actions #no {
  background-color: #fff;
  border: 1px solid #eee;
}

.del_popup_actions #yes {
  background-color: orangered;
  border: 1px solid orangered;
  color: #fff;
}